<!<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Say Hello</title>
  </head>
  <body>
    <img src="https://cdn-icons-png.flaticon.com/512/5986/5986331.png">
    <br>
    <form action="greet" method="post">
      {% for message in get_flashed_messages() %}
        <p> {{message}} </p>
      {% endfor %}
      <br>
      <input type="text" name="name_input">
      <br>
      <input type="submit" name="greet" value="Saludar">
    </form>
  </body>
</html>
